/* Reset & fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
hr{
    border-radius: 55px;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background-color: #7d4c6f;
  color: #fff;
  padding: 30px 20px;
}

.sidebar .profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ededec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}


.sidebar h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.sidebar p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.sidebar h3 {
  margin-top: 20px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 10px 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Main content */
.content {
  width: 70%;
  padding: 30px;
}

.content h2 {
  font-size: 22px;
  margin-bottom: 10px;
  border-bottom: 2px solid #2e3a59;
  padding-bottom: 5px;
}

.item {
  margin-bottom: 20px;
}

.item h3 {
  font-size: 18px;
  color: #2e3a59;
}

.item span {
  font-size: 14px;
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.item p {
  font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar, .content {
    width: 100%;
  }
}
