<style> /* Opening style tag for CSS */
.w3rcontainer{ /* CSS rule for w3rcontainer class */
   border: 1px solid #cccfdb; /* Style for border */
   border-radius: 2px; /* Style for border radius */
} /* Closing w3rcontainer class */

.hover-underline-animation { /* CSS rule for hover-underline-animation class */
  display: inline-block; /* Display property set to inline-block */
  position: relative; /* Position property set to relative */
  color: #0087ca; /* Text color set to #0087ca */
}

.hover-underline-animation:after { /* CSS rule for pseudo-element :after */
  content: ''; /* Content property set to empty string */
  position: absolute; /* Position property set to absolute */
  width: 100%; /* Width set to 100% */
  transform: scaleX(0); /* Initial transformation scaleX set to 0 */
  height: 2px; /* Height set to 2px */
  bottom: 0; /* Positioned at the bottom */
  left: 0; /* Positioned at the left */
  background-color: #0087ca; /* Background color set to #0087ca */
  transform-origin: bottom right; /* Origin of transformation set to bottom right */
  transition: transform 0.25s ease-out; /* Transition property for smooth animation */
}

.hover-underline-animation:hover:after { /* CSS rule for hover state of :after pseudo-element */
  transform: scaleX(1); /* Transformation scaleX set to 1 on hover */
  transform-origin: bottom left; /* Origin of transformation set to bottom left on hover */
}

</style> /* Closing style tag */
